parameters:
    bootstrap: %currentWorkingDirectory%/vendor/autoload.php
    autoload_directories:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - %currentWorkingDirectory%/var
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/web
        - %currentWorkingDirectory%/bin
        - %currentWorkingDirectory%/app
